body{
background:url("../image/background.png");}
.align-self-center{
margin-left: 190px;
}
.head {
border: 2px solid black;
padding-top: 6px;
padding-left: 20px;
margin-top:15px;
}
.product{
border: 2px solid black;
margin: 10px;
padding: 30px;
}
.fa-share-alt-square{
text-align:center;
display: block;
width:100px;
}
.icon{
margin:50px;
text-align: center;
}
.fa-chevron-left, .fa-chevron-right{
top:40%;
position:absolute;
left:20%;
}